.icono {
    width: 30px;
    height: 30px;
}
.logo {
    width: 180px;
    height: auto;
}
header {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 34px;
}
.header {
    background-color: #FFDE59;
}
header p {
    font-size: 1em;
    font-weight: bold;
    color: #fff;
}
.nav {
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu[role="navigation"] {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card2 {
    position: relative;
}.btn-primary2 {
    position: absolute;
    top: 88%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    color: crimson;
    border-color: #FFD51E;
    transition: background-color 0.3s ease;
    background-color: #FFD51E;
}
.btn-primary2:hover {
    background-color:  #FFDE59;
    color: crimson;
}
.card1 {
    position: relative;
}
.btn-primary1 {
    position: absolute;
    top: 92%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    color: crimson;
    border-color: #FFD51E;
    transition: background-color 0.3s ease;
    background-color: #FFD51E;
}
.btn-primary1:hover {
    background-color:  #FFDE59;
    color: crimson;
}
.card3 {
    position: relative;
}
.btn-primary3 {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    color: crimson;
    border-color: #FFD51E;
    transition: background-color 0.3s ease;
    background-color: #FFD51E;
}
.btn-primary3:hover {
    background-color:  #FFDE59;
    color: crimson;
}
.card-img-top {
    transition: transform 0.3s ease;
}

.card-img-top:hover {
    transform: scale(1.1);
}
@media (max-width: 992px) {
    .navbar-brand {
        font-size: 2rem;
    }
    .navbar-nav {
        font-size: 1.5rem;
    }
}
.menu{
    margin-bottom: 30px;
}
.btn-circle {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    padding: 10px;
}
.btn-xl {
    width: 40px;
    height: 40px;
    padding: 10px;
}
.img-small {
    width: 200px;
    height: auto;
}
.social {
    display: grid;
    position: relative;
    place-items: center;
    width: 4rem;
    height: 4rem;
    overflow: hidden;
    border: 3px solid #ddd;
    border-radius: 50%;
    background-color: #ddd;
    cursor: pointer;
    margin: 0.5rem;
    background-size: cover;
    background-position: center;
    transition: transform 0.7s ease;
}

.instagram {
    background-image: url(../img/instagram.svg);
}

.facebook {
    background-image: url(../img/facebook.svg);
}

.social:hover {
    transform: rotateY(720deg);
}
.container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #FFDE59;
    position: relative; 
    width: 80%; 
    height: 50vh; 
    margin: auto; 
    padding: 20px; /* Añadi un padding al contenedor */
    box-sizing: border-box; /* Incluye el padding en el tamaño del contenedor */
}

.container2 .nombre {
    margin-bottom: 20px; /* Añadi un margen debajo del nombre del restaurante */
}

.container2 .info {
    margin-bottom: 20px; /* Añadi un margen debajo de la información del restaurante */
}

.container2 .info p {
    margin-bottom: 10px; /* Añadi un margen debajo de cada línea de información */
}

.container2 .info button {
    background-color: #301613; 
    color: white; 
    padding: 10px 20px; 
    border: none; 
    cursor: pointer; 
}

.container2 .info button:hover {
    background-color: #9DC135; /* Cambia el color de fondo del botón cuando el mouse pasa por encima */
}

.social {
    margin-top: auto;
}
.footer {
    display: flex;
    justify-content: space-between;
    background-color: #FFDE59;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer .section {
    flex: 1;
}
.footer .section {
    flex: 1;
    padding: 24px; 
    border-right: 1px solid white;
    box-sizing: border-box; /* Incluye el padding y el borde en el tamaño del elemento */
}

.footer .section.right {
    border-right: none;
}

.footer .section.left {
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer .section i {
    color: black; /* Establece el color de todos los iconos a negro */
}

.footer .section.left i {
    font-size: 3em; 
    transition: all 0.6s ease; 
}

.footer .section.left i:hover {
    transform: rotate(20deg); 
    cursor: pointer; 
}

.footer .section.center form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer .section.center button {
    background: none;
    border: none;
}

.footer .section.center i {
    font-size: 3em; 
    transition: all 0.6s ease; 
}

.footer .section.center i:hover {
    transform: rotate(20deg); 
    cursor: pointer; 
}
.footer .section.right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer .section.right i {
    font-size: 3em; 
    transition: all 0.6s ease; 
}

.footer .section.right i:hover {
    transform: rotate(20deg); 
    cursor: pointer; 
}

/*---------------------------------------------------------------------------------- */
/* Estilo de la pagina menu peperoni */
.product-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
}
.product:first-child {
    margin-left: 170px;
}

.product:last-child {
    margin-right: 170px;
}
  
.product-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}
  
.product-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
  
.product-title {
    font-size: 24px;
    font-weight: bold;
}
  
.pack-size {
    display: flex;
    align-items: center;
    gap: 10px;
}
  
.add-to-cart-button {
    background-color: #f04;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
}
  
.large {
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
}
.moved-down {
    margin-top: 20px;
    transition: margin-top 0.3s ease-in-out;
}
.img {
    width: 100%;
    height: auto;
    object-fit: cover;
}@media (max-width: 768px) {
    .product-container {
        flex-direction: column;
    }
}

/*------------------------------------------------------------------*/


.menu-item-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin: auto;
}

.menu-item {
    width: 100%;
}

.menu-item-image {
    width: 100%;
    height: auto;
}

.menu-item-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.menu-item-title {
    font-size: 24px;
    font-weight: bold;
}

.add-to-cart-btn {
    background-color: #f04;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
}
.taco-specialty {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.taco-specialty label {
    display: block;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.taco-specialty label:hover {
    background-color: #e0e0e0;
}

.taco-specialty input[type="radio"] {
    margin-right: 10px;
}

